.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 100%;
}
.title {
  display: flex;
  text-align: center;
  margin-bottom: 5%;
  font-size: 28px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--blue90);
  font-weight: 600;
  opacity: 0.9;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-radius: 12px;
  padding-right: 2%;
  background-color: var(--grey40);
  box-shadow: 0px 15px 29px 0px rgba(0, 0, 0, 0.2);
}
.nav_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  background-color: white;
  border-radius: 12px;
}
.form_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  min-height: 500px;
}
.user_avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100px; */
  background-color: var(--blue90);
  border-radius: 12px;
  padding: 3% 5%;
  color: white;
}
.user_setting {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5%;
}

.link_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}
.link_gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 12px;
  font-size: 16px;
  opacity: 0.6;
  cursor: pointer;
  transition: duration 2sec;
  text-decoration: none;
  color: inherit;
}
.link_gallery:hover {
  background-color: var(--blue90);
  transition-duration: 0.4s;
  color: white;
}
.icon {
  /* width: 25px; */
  font-size: 20px;
  opacity: 0.4;
  cursor: pointer;
}
.loading {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  color: var(--red-error);
}
