.form_auth_label {
  display: block;
  width: 50%;
  text-align: left;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
  opacity: 0.4;
}
.form_auth_input {
  display: block;
  width: 50%;
  height: 40px;
  margin: 0 auto;
  border-radius: 12px;
  outline: none;
  border: 2px solid transparent;
  padding: 0 3%;
  font-size: 14px;
  background-color: #ffff;
}
.form_auth_input:focus {
  border: 2px solid var(--blue90);
  color: #000000;
}
.error {
  border: 2px solid var(--red-error);
  color: #000000;
}
.error_text {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  font-size: 10px;
  color: var(--red-error);
}
.form_button {
  display: block;
  width: 25%;
  height: 36px;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: medium;
  color: #ffff;
  background-color: var(--blue90);
  box-shadow: 1px 5px 9px 3px rgba(39, 87, 149, 0.49);
}
.disabled {
  opacity: 0.4;
}
