.App {
  padding: 3%;

  /* text-align: center; */
}
.content__wrap {
  display: flex;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--blue30-back);
  border-radius: 24px;
  padding: 3%;
}
